<body style="text-align: center;">
    <p style="font-size:60pt"> Test Page </p>
    <p style="font-size:30pt" > Service A Master : <span id="mastera">&#10008;</span></p>
    <p style="font-size:30pt" > Service B Master : <span id="masterb">&#10008;</span></p>
    <p style="font-size:30pt" > Service A Stage : <span id="stagea">&#10008;</span></p>
    <p style="font-size:30pt" > Service B Stage : <span id="stageb">&#10008;</span></p>
    <p style="font-size:30pt" > Service A Dev : <span id="deva">&#10008;</span></p>
    <p style="font-size:30pt" > Service B Dev : <span id="devb">&#10008;</span></p>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $('document').ready(function() {
            $.ajax({
                url: 'http://api.bieber-demo.tk/a/',
                success: function(data) {
                    $('#mastera').html(data);
                }
            })
            $.ajax({
                url: 'http://api.bieber-demo.tk/b/',
                success: function(data) {
                    $('#masterb').html(data);
                }
            })
            $.ajax({
                url: 'http://stage.bieber-demo.tk/a/',
                success: function(data) {
                    $('#stagea').html(data);
                }
            })
            $.ajax({
                url: 'http://stage.bieber-demo.tk/b/',
                success: function(data) {
                    $('#stageb').html(data);
                }
            })
            $.ajax({
                url: 'http://dev.bieber-demo.tk/a/',
                success: function(data) {
                    $('#deva').html(data);
                }
            })
            $.ajax({
                url: 'http://dev.bieber-demo.tk/b/',
                success: function(data) {
                    $('#devb').html(data);
                }
            })
        })
    </script>
</body>